
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: 100%;
}
table{
    margin: auto;
    line-height: 20px;

}

.row{
    display: flex;
    flex-wrap:wrap ;
    margin: 0;
    padding: 0;
    width: 100%;
}
[class*='col-']{
    border: 1px solid black;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-height: 40px;
    border: indigo;

}
a{
    text-decoration: none;
    font-size: 20px;

}
